body {
    margin: 0;
    padding-bottom: 3rem;
    font-family: neuzeit;
}
.chat {
    height: 75vh;
    margin: 0 10px;
    p {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        span {
            color: aqua;
        }
    }
    .chat-label {
        margin: 0 auto;
    }
}

.chat-form {
    background: rgba(0, 0, 0, 0.15);
    padding: 0.25rem;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    height: 3rem;
    box-sizing: border-box;
    .chat-form > button {
        background: #333;
        border: none;
        padding: 0 1rem;
        margin: 0.25rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
    }
    .chat-input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        border-radius: 2rem;
        margin: 0.25rem;
    }
    .chat-input:focus {
        outline: none;
    }
}

.messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 65vh;
    .messages > li {
        padding: 0.5rem 1rem;
    }
    .messages > li:nth-child(odd) {
        background: #efefef;
    }
}
.message {
    display: flex;
    width: 200px;
    justify-content: space-around;

    .message-txt {
        align-items: center;
    }
}


@media(max-width:$mobile-breakpoint){
    .chat {
        height: 32vh;
        margin: 0 10px;
        p {
            text-align: center;
            font-size: 20px;
            font-weight: bold;
            span {
                color: aqua;
            }
        }
        .chat-label {
            margin: 0 auto;
        }
    }
 }

 .messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 29vh;
    .messages > li {
        padding: 0.5rem 1rem;
    }
    .messages > li:nth-child(odd) {
        background: #efefef;
    }
}
 