.login-area {
    height: 30vh;
    display: flex;
    align-items: center;
    margin-left: 45%;
}

.login-form {
    height: 5vh;
    margin: 0 auto 5px auto ;
}

button {
    margin: 15px auto;
    height: 5vh;
}

.signup{
    margin-left: 45%;
    .signup-btn{
      //  font-size:45px;
        color: $clr2;
        border: 1px solid black;
        padding: 5px;
        font-weight: bold;
    }
}

.login {
    .login-title {
        text-align: center;
    }
    .login-img {
        max-height: 100px;
        max-width: 50vh;
        margin: 0 auto;
        img {
            max-height: 100px;
            display: flex;
            margin: 0 auto;
        }
    }
}

.login-user {
    h3 {
        text-align: center;
    }
}
.logout-btn {
    margin-left: 47%;
}

@media (max-width: $mobile-breakpoint) {
    .login-area {
        height: 30vh;
        display: flex;
        align-items: center;
        margin-left: 30%;
    }
    .logout-btn {
        margin-left: 35%;
    }
    .login-area {
        height: 30vh;
        display: flex;
        align-items: center;
        margin-left: 25%;
    }
}
