.signup-title {
    text-align: center;
}
.signup-img {
    max-height: 100px;
    max-width: 50vh;
    margin: 0 auto;
    img {
        max-height: 100px;
        display: flex;
        margin: 0 auto;
    }
}
